.bgimage {
    height:100vh;
    background: url(/images/nike-swoosh-logo.jpeg);
    background-size: cover;
    position: relative
}
.hero_title {
    font-size: 5rem;
    padding-top:300px;


}
.hero_desc {
    font-size:2rem;
}
.hero-text {
    text-align: center;
    position: relative; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:grey;

}
.imageAboutPage {
    width:100%;
}
::after {
    box-sizing: border-box;

}
i {
    font-style: italic;
}
li {
    text-align: -webkit-match-parent;
}
.navbarScroll.navbarDark {
    background-color: black;
}
.navbar-brand {
    padding:20px;
}
.carousel {
    min-height: 4px;

}